/* You can add global styles to this file, and also import other style files */

body {
  background-color: #1a1a1a;
  color: #e0e0e0;
  margin: 0;
}

@font-face {
  font-family: "Nodesto Caps Condensed";
  src: url("/fonts/Nodesto Caps Condensed/Nodesto Caps Condensed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zatanna Misdirection";
  src: url("/fonts/Zatanna Misdirection/Zatanna Misdirection.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bookinsanity";
  src: url("/fonts/Bookinsanity/Bookinsanity.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
